$primary-border:1px solid black;
$primary-display:flex;

body {
    border: $primary-border;
}

h1 {
    margin: 30px;
    border-bottom: $primary-border;
}

.kontejner {
    display: $primary-display;
    gap: 70px;
    align-items: flex-start;
}

.tabela-wrapper {
    width: 20%;
}

table {
    border-collapse: collapse;
    margin: 20px 50px;
    width: 100%;

    th,
    td {
        border: $primary-border;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: rgb(225, 222, 222);
    }
}

.forma {
    border: 4px solid blue;
    padding: 10px;
    width: 20%;
    display: $primary-display;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
}

#formaZaDodavanje {
    border: $primary-border;
    padding: 15px;
    display: $primary-display;
    flex-direction: column;
    gap: 15px;

    .form-group {
        display: $primary-display;
        align-items: center;
        gap: 10px;

        label {
            width: 50px;
            text-align: right;
        }

        input {
            flex: 1;
            border: none;
            border-bottom: $primary-border;
            padding: 5px;
        }
    }

    button {
        width: 60px;
        border: $primary-border;
        border-radius: 8px;
        margin-left: auto;
        padding: 10px;
        cursor: pointer;
    }
}

.forma-tekst {
    width: 20%;
    margin: 5px 0 0 380px;
    color: blue;
}

.detalji {
    border: 4px solid red;
    width: 20%;
    margin: 40px;
    height: 180px;
    padding: 10px;
    margin-bottom: 10px;
}

#artikliDetalji {
    width: 100%;
    height: 100%;
    border: $primary-border;
    
    p {
        margin: 20px;
    }
}

.detalji-text{
    color:red;
    margin-left: 40px;
    margin-top: 0px;
}